# Logs
logs/
*.log

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt/assets/

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules/
__*/

# Core References
references/

# Compiled assets
compiled/
scripts/widgets/
templates/widgets/
stylesheets/widgets/
resources/admin/widgets/
admin/editors/

# Mozu configs
mozu.config.json

# Files
*.zip
*.sublime-workspace
*.fileList

# File system stuff
.DS_Store
