# Logs
/logs
*.log

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
grunt/assets

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
/node_modules
/__*

# Don't track files that are handled by widgetize
resources/admin
templates/widgets
scripts/widgets
stylesheets/widgets
stylesheets/widgets.less
stylesheets/storefront.less


# Core References
/references

# Compiled assets
/compiled

# Mozu configs
mozu.config.json

# Files
*.zip
*.sublime-workspace

# File system stuff
.DS_Store
